<template>
    <div class="future-weather text-sm bg-gray-800 px-6 overflow-hidden">
        <Weather v-for="nextDay in nextDays" :key="nextDay" :day-data="nextDay"></Weather>
    </div>
</template>

<script>
import Weather from "./Weather";
export default {
    name: "FutureWeather",
    props: ['nextDays'],
    components: {Weather}
}
</script>

<style scoped>

</style>
