<template>
    <div class="text-white mb-8">
        <h1 class="flex flex-row justify-center font-bold text-3xl pb-3">Aktuálne počasie</h1>
        <div class="places-input">
            <input v-on:keyup.enter="fetchData" v-model="newPlace" placeholder="Mesto" type="text" class=" px-8 w-full text-black rounded-lg border-l border-t border-r py-3">
        </div>
        <div class="weather-container font-sans w-128 max-w-lg overflow-hidden bg-gray-900 shadow-lg mt-4 rounded-lg">
            <div class="current-weather flex items-center justify-between px-6 py-8">
                <div class="flex item-center">
                    <div>
                        <div class="text-6xl font-semibold">{{currentTemperature.actual}}°C</div>
                        <div>Pocitovo {{currentTemperature.feels}}°C</div>
                    </div>
                    <div class="mx-5 mt-4">
                        <div class="font-semibold">{{ currentTemperature.summary }}</div>
                        <div>{{location.name}}, {{location.country}}</div>
                    </div>
                </div>
                <div class=""><img :src="`${currentTemperature.icon}`" alt="icon of actual weather"></div>
            </div>
            <FutureWeather :nextDays="nextDays"></FutureWeather>
        </div>
    </div>
</template>

<script>
import FutureWeather from "./FutureWeather"

export default {
    name: "WeatherApp",
    components: {FutureWeather},
    mounted() {
        this.fetchData()
    },
    data() {
        return {
            newPlace:'',
            currentTemperature: {
                actual: '',
                feels: '',
                summary: '',
                icon: '',
            },
            location: {
                name: "Banská Bystrica",
                country: '',
                lat: '',
                long: '',
            },
            nextDays: '',
        }
    },
    methods: {
        fetchData() {
            if (this.newPlace !== ''){
                this.location.name = this.newPlace
            }
            fetch('/api/weather?location=' + this.location.name)
                .then(response => response.json())
                .then(data => {
                    this.currentTemperature.actual = data.current.temp_c
                    this.currentTemperature.feels = data.current.feelslike_c
                    this.currentTemperature.summary = data.current.condition.text
                    this.currentTemperature.icon = data.current.condition.icon
                    this.location.lat = data.location.lat
                    this.location.long = data.location.lon
                    this.location.country = data.location.country
                    this.nextDays = data.forecast.forecastday
                })
            this.newPlace = ''
        }
    }
}
</script>
