<template>
    <div class="flex items-center py-8">
        <div class="w-1/6 text-lg text-gray-200">{{ dayData.date | formatDate }}</div>
        <div class="w-4/6 px-4 flex items-center">
            <div class=""><img :src="`${dayData.day.condition.icon}`" alt="icon of actual weather"></div>
            <div class="ml-3">{{dayData.day.condition.text}}</div>
        </div>
        <div class="w-1/6 text-right">
            <div class="">{{dayData.day.maxtemp_c}}°C</div>
            <div class="">{{dayData.day.mintemp_c}}°C</div>
        </div>
    </div>
</template>

<script>
import moment from 'moment';

export default {
    name: "Weather",
    props: ["dayData"],
    filters: {
        formatDate: function (date) {
            if (!date) return
            return moment(String(date)).format('D.M')
        }
    }
}
</script>

<style scoped>

</style>
